*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}
@font-face {
  font-family: "Fraunces";
  src: url("../fonts/Fraunces/Fraunces-VariableFont_SOFT,WONK,opsz,wght.ttf");
}
@font-face {
  font-family: "Fraunces-Wonky-Bold";
  src: url("../fonts/Fraunces/static/Fraunces_Wonky/Fraunces_Wonky-Bold.ttf");
}
body {
  display: grid;
  place-items: center;
  background-color: hsl(30deg, 38%, 92%);
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.5em;
}
body .product-view {
  display: flex;
  flex-direction: column;
  max-width: 80vmin;
  max-height: 80vmax;
  border-radius: 0.75rem;
  background-color: hsl(0deg, 0%, 100%);
  overflow: hidden;
}
@media only screen and (min-width: 767px) {
  body .product-view {
    flex-direction: row;
    width: 60vmax;
    height: 55vmin;
    max-width: 630px;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view > * {
    flex: 1 0 50%;
  }
}
body .product-view .product-image img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
body .product-view .container {
  padding: 1em;
}
@media only screen and (min-width: 767px) {
  body .product-view .container {
    padding: 1.5em 1.625em;
  }
}
body .product-view .container .product-type {
  font-size: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: hsl(228deg, 12%, 48%);
  margin-block-end: 0.5rem;
}
@media only screen and (min-width: 480px) {
  body .product-view .container .product-type {
    font-size: 0.75rem;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view .container .product-type {
    margin-block-end: 0.75rem;
    font-size: 0.625rem;
  }
}
body .product-view .container .product-name {
  margin-block-end: 0.75rem;
  font-family: "Fraunces-Wonky-Bold", serif;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1em;
  color: hsl(212deg, 21%, 14%);
}
@media only screen and (min-width: 480px) {
  body .product-view .container .product-name {
    font-size: 1.975rem;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view .container .product-name {
    margin-block-end: 1.25rem;
    font-size: 1.5rem;
  }
}
body .product-view .container .product-description {
  margin-block-end: 2.5rem;
  color: hsl(228deg, 12%, 48%);
  font-size: 0.75rem;
}
@media only screen and (min-width: 480px) {
  body .product-view .container .product-description {
    font-size: 0.975rem;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view .container .product-description {
    font-size: 0.675rem;
    line-height: 1.5em;
    margin-block-end: 1.75rem;
  }
}
body .product-view .container .product-price {
  display: inline-flex;
  align-items: center;
  margin-block-end: 1.25rem;
}
@media only screen and (min-width: 767px) {
  body .product-view .container .product-price {
    margin-block-end: 1.5rem;
  }
}
body .product-view .container .product-price .new-price {
  font-family: "Fraunces-Wonky-Bold", serif;
  font-size: 1.75rem;
  text-decoration: none;
  color: hsl(158deg, 36%, 37%);
  margin-right: 0.75em;
}
@media only screen and (min-width: 480px) {
  body .product-view .container .product-price .new-price {
    font-size: 1.975rem;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view .container .product-price .new-price {
    font-size: 1.75rem;
  }
}
body .product-view .container .product-price .old-price {
  color: hsl(228deg, 12%, 48%);
  font-size: 0.75rem;
}
@media only screen and (min-width: 480px) {
  body .product-view .container .product-price .old-price {
    font-size: 0.975rem;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view .container .product-price .old-price {
    font-size: 0.75rem;
  }
}
body .product-view .call-to-action {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
  padding: 1em;
  border-radius: 0.625em;
  width: 100%;
  background-color: hsl(158deg, 36%, 37%);
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  font-weight: 600;
}
body .product-view .call-to-action span {
  font-size: 1rem;
}
@media only screen and (min-width: 767px) {
  body .product-view .call-to-action span {
    font-size: 0.75rem;
    word-spacing: 2px;
  }
}
@media only screen and (min-width: 767px) {
  body .product-view .call-to-action {
    padding: 0.625em;
  }
}

/*# sourceMappingURL=style.css.map */
